p {
  font-size: 16px;
  color: black;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.navbar {
  padding: 0.5rem 1rem;
  height: 10vh;
}
.navLink {
  justify-content: right;
}
.title {
  margin-top: 40px;
}
.subTitle {
  margin-top: 20px;
}
