h1 {
  font-size: 50px;
}
p {
  font-size: 25px;
  color: black;
}

.background-image {
  background-image: url("../img/home-real-estate-106399.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: 0px 25px;
}
#background-buildings {
  background-image: url("../img/high-angle-photography-of-high-rise-buildings-near-road-681331.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: 0px 25px;
}
.navbar {
  padding: 0.5rem 1.25rem;
  height: 7vh;
  color: #922b21 !important;
}
.navLink {
  margin-right: 20px;
  text-decoration-line: none;
  font-size: 16px;
}

#navSigninButton {
  align-content: flex-end;
}
.title {
  color: white;
}
.subTitle {
  color: white;
  margin-top: 20px;
}
.form-inline {
  justify-content: center;
  margin-top: 20px;
}
#searchBar {
  width: 380px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #ccc;
  border-right: none;
  outline: none;
}
#searchBar:focus {
  outline: none !important;
}
#searchButton {
  height: 38px;
  border-radius: 0 5px 5px 0;
  line-height: 30px;
  width: 100px;
}

.modalHack {
  display: block;
  opacity: 1 !important;
}
.modal-footer {
  background: transparent;
}
#logo {
  justify-content: start;
}
// .card-link {
// }
